body {
  background-image: url("../images/pexels-kai-pilger-1341279.jpg");
  background-size: cover;
  color: white;
}

.rainbow-animated {
  padding-top: 5%;
  background: linear-gradient(
    to right,
    red,
    orange,
    yellow,
    green,
    cyan,
    blue,
    violet
  );
  background-size: 400% 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: rainbow 20s ease infinite;
  animation: rainbow 20s ease infinite;
  font-size: 10vh;
  line-height: 15vh;
  font-family: var(--font-satisfy);
}

@-webkit-keyframes rainbow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes rainbow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.container-prod {
  padding-bottom: 10%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 4%;
  text-align: center;
  font-family: var(--font-pacifico);
  color: goldenrod;
  font-size: 4vh;
}

.container-prod .cell {
  object-fit: cover;
  text-align: center;
  font-size: 2vw;
  padding: 1vw;
}

.container-prod .cell .text-image {
  color: var(--primary-color);
  font-family: "Pacifico", cursive;
}

.container-prod .cell img {
  z-index: 0;
}

button {
  padding: 0.7em 1.7em;
  font-size: 18px;
  border-radius: 0.5em;
  background: #090909;
  border: 1px solid #e8e8e8;
  transition: all 0.3s;
  box-shadow: 6px 6px 12px #2e2d2d, -6px -6px 12px #3d3c3c;
  width: 100%;
  color: var(--primary-color);
}

button:hover {
  border: 1px solid white;
}

button:active {
  box-shadow: 4px 4px 12px #c5c5c5, -4px -4px 12px #ffffff;
}
