body {
  background-image: url("../images/pexels-kai-pilger-1341279.jpg");
  background-size: cover;
  color: white;
}

.container-prod-precise {
  padding: 10%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 4%;
  text-align: center;
  font-family: var(--font-pacifico);
  color: goldenrod;
  font-size: 4vh;
}

.container-prod-precise .cell {
  object-fit: cover;
  text-align: center;
  /* display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 20% 35% 35%; */
  font-size: 2vw;
  padding: 1vw;
}

.container-prod-precise .cell .text-image {
  /* grid-row: 1;
  grid-column: 1; */
  color: var(--primary-color);
  font-family: "Pacifico", cursive;
  /* padding-bottom: 50%; */
}

.container-prod-precise .cell img {
  /* grid-row: 1;
  grid-column: 1; */
  z-index: 0;
}

/* .container-prod-precise .cell .show {
  grid-row: 3;
  grid-column: 1;
  font-size: 2vh;
  z-index: 10;

  display: none;

  height: 25%;
  width: 98%;
  border: solid red;
} */

/* .cell:hover .slide-top {
  -webkit-animation: slide-top 0.5s linear both;
  animation: slide-top 0.5s linear both;
}


@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(50);
    transform: translateY(50);
  }
  100% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(50);
    transform: translateY(50);
  }
  100% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
  }
} */

button {
  padding: 0.7em 1.7em;
  font-size: 18px;
  border-radius: 0.5em;
  background: #090909;
  border: 1px solid #e8e8e8;
  transition: all 0.3s;
  box-shadow: 6px 6px 12px #2e2d2d, -6px -6px 12px #3d3c3c;
  width: 100%;
  color: var(--primary-color);
}

button:hover {
  border: 1px solid white;
}

button:active {
  box-shadow: 4px 4px 12px #c5c5c5, -4px -4px 12px #ffffff;
}
