html {
  width: 100%;
}

body {
  background-color: var(--secondary-color);
  color: white;
}

.carousel {
  margin-left: 1vw;
  margin-right: 1vw;
}

.carousel-item img {
  width: 100vw;
  height: 80vh;
}

.panel {
  background-color: rgb(0, 0, 0, 0);
  border: none;
}

.container-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.promotion {
  grid-column: 2 / span 2;
  grid-row: 1 / span 2;
  padding: 1vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  font-size: 4vw;
  text-align: left;
}

.promotion .text-image {
  grid-row: 1 / span 2;
  grid-column: 1 / span 2;
  z-index: 100;
}

.promotion .text-image .first-line {
  padding-top: 3vh;
  padding-left: 3vw;
  font-size: 5vw;
  text-transform: uppercase;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(
    93.06deg,
    var(--secondary-color) 12.51%,
    var(--primary-color) 90.97%
  );
  font-family: var(--font-henny);
}

.promotion .text-image .second-line {
  font-size: 4vw;
  color: rgb(186, 9, 9);
  font-family: "Limelight", cursive;
  padding-left: 5vw;
}

.promotion .text-image .third-line {
  color: var(--primary-color);
  font-size: 3vw;
  font-family: var(--font-satisfy);
  padding-left: 3vw;
  padding-top: 4vh;
}

.promotion img {
  grid-row: 1 / span 2;
  grid-column: 1 / span 2;
  z-index: 0;
}

.container-grid .cell {
  object-fit: cover;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  font-size: 4vw;
  padding: 1vw;
}

.container-grid .cell .text-image {
  grid-row: 1 / span 2;
  grid-column: 1;
  z-index: 100;
  color: var(--secondary-color);
  font-family: "Pacifico", cursive;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: 5vh;
}

.container-grid .cell img {
  grid-row: 1 / span 2;
  grid-column: 1;
  z-index: 0;
}

@media (max-width: 560px) {
  .carousel-item img {
    height: 40vh;
    padding-bottom: 1vw;
  }

  .container-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .promotion {
    grid-column: 1;
    grid-row: 1;
    padding: 0;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .promotion img {
    grid-row: 1;
    grid-column: 1;
    z-index: 0;
    width: 200%;
  }

  .container-grid .cell {
    grid-template-rows: 1fr;
  }

  .container-grid .cell .text-image {
    grid-row: 1;
    grid-column: 1;
  }

  .container-grid .cell img {
    grid-row: 1;
    grid-column: 1;
  }
}
